@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap");
html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  // font-family: "Inter", sans-serif;
  // font-family: "Londrina Outline", cursive;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $background;
}

html,
body {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow: hidden;

  // cursor: url("svg/cursor.svg"), auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  letter-spacing: 0.8px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  user-select: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

// .tl-z-24 {
//   z-index: 9 !important;
// }
