$phones: 599px;
$tabletPortrait: 600px;
$tablet: 768px;
$tabletLandscape: 950px;
$desktop: 1170px;
$bigDesktop: 1440px;

$white: #fff;
$text-white: #ebebeb;
$background-white: #ececec;
$background-disabled: #d3d3d3;
$black: #333333;
$border: #3c4d3c;
$border-dark-green: #2d3a2d;
$background: #dcd1b6;
$full-height: 100svh;
