.Buttons {
  &__left-top-Container {
    position: fixed;
    left: 12px;
    top: 10px;
    z-index: 20;
  }

  &__button {
    width: 40px;
    height: 40px;
    background-color: $background-white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border: 2px solid $border;
  }

  &__icon {
    margin: auto;
    width: 24px;
    transition: transform 300ms;
  }

  &__button:hover &__icon {
    transform: rotate(60deg);
  }

  &__fps {
    @include text(12px, left, rgba(0, 0, 0, 0.5), 600);
  }

  &__icon-map-container {
    position: fixed;
    z-index: 2;
    right: 24px;
    bottom: 24px;
    display: flex;
  }

  &__icon {
    width: 42px;
    height: 42px;
  }

  &__keyboard-button {
    display: flex;
    height: 24px;
    width: 24px;
    background-color: #ccc;
    border: 2px solid $border;
    border-radius: 4px;
    margin: auto 12px auto 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    @include text(14px, center, $border, 600);
  }
}
