.Label {
  &__main-container {
    display: flex;
    flex-direction: row;
    margin: 4px;
    padding: 5px;
    opacity: 0;
    transition: opacity 300ms;
  }

  &__background {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(
      to right,
      rgba($color: $black, $alpha: 0.3) 0%,
      rgba($color: $black, $alpha: 0.1) 60%,
      transparent 95%,
      transparent 100%
    );
    backdrop-filter: blur(1px);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__text-event {
    display: flex;
    justify-content: center;
    background-color: rgba($color: $white, $alpha: 0.9);
    border: 2px solid $border;
    border-radius: 6px;
    width: 28px;
    height: 28px;
    @include text(18px, center, $border, 600);
    align-items: center;
    margin-right: 8px;
    z-index: 2;

    &--gamepad {
      border-radius: 50%;
    }
  }

  &__text {
    @include text(16px, center, $white, 400);
    margin: auto 0;
    z-index: 2;
  }
}
