.Menu {
  &__main-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &__button {
    width: 140px;
    height: 60px;
    background-color: $background-white;
    border-radius: 12px;
    cursor: pointer;
    border: 2px solid $border;
    letter-spacing: 1.2px;
    @include text(22px, center, $black, 600);
  }
}
