.Menu {
  &__main-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: $full-height;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba($color: $black, $alpha: 0.2);
  }

  &__button {
    width: 140px;
    height: 60px;
    background-color: $background-white;
    border-radius: 12px;
    cursor: pointer;
    border: 2px solid $border;
    letter-spacing: 2px;
    @include text(22px, center, $black, 400);
    margin: auto;
  }
}
