.Settings {
  &__main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
  }

  &__title {
    @include text(18px, left, $text-white, 600);
    margin: 32px 0 12px;
  }

  &__row {
    display: flex;
    flex-direction: row;
  }

  &__circle {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid $text-white;
    border-radius: 8px;
    cursor: pointer;
  }

  &__button {
    border: 1px solid rgba($color: $text-white, $alpha: 0.6);
    border-radius: 4px;
    @include text(13px, left, rgba($color: $text-white, $alpha: 0.6), 400);
    margin: 0 8px 8px 0;
    padding: 4px 8px;
    cursor: pointer;
    &:hover {
      padding: 3px 7px;
      transition: unset;
      color: $text-white;
      border: 2px solid $text-white;
    }

    &--active {
      &:hover {
        padding: 2px 6px;
        border: 2px solid $text-white;
        @include text(13px, left, $text-white, 600);
      }
      padding: 2px 6px;
      border: 2px solid $text-white;
      @include text(13px, left, $text-white, 600);
    }
  }
}
